@import url('https://fonts.googleapis.com/css?family=Raleway:500');
@import url('https://fonts.googleapis.com/css?family=Merienda');
@import url('https://fonts.googleapis.com/css?family=Amaranth');


#wrapper{
	background-color: #2B2B2B;
	padding: 20px;
}
#logolinks a{
	padding: 20px;
	float: right;
}
nav ul{
	text-align: center;
	padding: 0;
}
nav li{
	list-style-type: none;
	color: white;
	padding: 20px;
	display: inline-block;
}
.dropdown {
	position: relative;
	display: inline-block;
}
.content {
	display:none;
	position: absolute;
	width: 100%;
}
.dropdown:hover .content{
	display: block;
}
header a{
	text-decoration: none;
	color: white;
}
header{
	background-color:#424242;
	padding: 20px;
}
header img{
	width:5%;
}
h2{
	text-align: center;
}
.intro{
	background-color:#FFFFFF;
	padding: 20px;
	text-align: center;
}
#workshops{
	padding: 20px;
}
#waside{
	background-color: #8EB409;
	float: left;
	width: 35%
}
#winfo{
	padding: 20px;
	width: 80%;
	margin: auto;
	color: white;
}
#wofferings{
	padding: 20px;
}
.offerings a{
	padding: 10px;
	margin: 10px 0;
	display: block;
	text-decoration: none;
	color: #8EB409;
	background-color: white;
	width: 50%;
	text-align: center;
}
.scroll{
	background-color:#FFFFFF;
	padding: 20px;
	width: 60%;
}
.scroll h3{
	text-align: center;
}
.scroll img{
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding: 20px;
}
.scroll a{
	text-decoration: none;
	background-color: #8EB409;
	color: white;
	text-align: center;
	display: block;
	width: 50%;
	margin: auto;
	padding: 10px 0;
	
}
#wscroll{
	float: right;
}
.scrollinfo{
	width: 60%;
	margin: auto;
}
#merch{
	background-color:#2B2B2B;
	padding: 20px;
}
#maside{
	background-color: #8EB409;
	float: left;
	width: 35%;
}
#minfo{
	padding: 20px;
	color: white;
}
#mofferings{
	padding: 20px;
}
#mscroll{
	float: right;
}
#teachers{
	background-color:#2B2B2B;
	padding: 20px;
}
#tinfo{
	background-color: #8EB409;
	float: left;
	width: 35%;
	color: white;
}
#tinfo p{
	padding: 20px;
}
#tofferings{
	background-color: #FFFFFF;
	padding: 20px;
	float: right;
	width: 60%;
}
#tofferings a{
	padding: 20px;
	display: block;
	text-decoration: none;
	color: white;
	float: left;
	width: 16%;
	text-align: center;
	background-color: #8EB409; 
	margin:30px;
}
footer{
	padding: 20px;
	width: 30%;
}

body{
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
}
h1{
	font-family: 'Merienda', cursive;
	font-size: 5em;
}
#tagline{
	font-family: 'Amaranth', sans-serif;
	font-size: 2em;
}
h2{
	font-family: 'Amaranth', sans-serif;
}
h3{
	font-family: 'Amaranth', sans-serif;
}
h4{
	font-family: 'Amaranth', sans-serif;
}
.clearfix:after{
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}