@import url('https://fonts.googleapis.com/css?family=Raleway:500');
@import url('https://fonts.googleapis.com/css?family=Merienda');
@import url('https://fonts.googleapis.com/css?family=Amaranth');
@import url('https://fonts.googleapis.com/css?family=Gabriela');


body{
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
}
h1{
	font-family: 'Merienda', cursive;
	font-size: 5em;
}
#tagline{
	font-family: 'Amaranth', sans-serif;
	font-size: 2em;
}
h2{
	font-family: 'Amaranth', sans-serif;
}
h3{
	font-family: 'Amaranth', sans-serif;
}
h4{
	font-family: 'Amaranth', sans-serif;
}